// reset + base and layout rules
@use 'animation'


// reset
*, *::after, *::before
  box-sizing: border-box

*
  margin: 0

html, body
  height: 100%

input, button
  margin: 0
  padding: 0
  border: 0

button
  background-color: transparent


// base + layout
html
  font-family: var(--font-primary)
  animation-name: bgColorChange
  animation-duration: 10s
  animation-iteration-count: infinite
  animation-timing-function: ease-in-out
  background-image: url('../assets/bg-pattern.svg')
  background-repeat: repeat


body
  font-size: 14px
  font-weight: 300


button, input
  font-family: inherit