@use 'mixins'

.header
  height: 80px
  background-color: var(--color-secondary)

  &__logo
    display: block
    height: 100%
    background-image: url('../assets/logo.svg')
    background-repeat: no-repeat
    background-position: center


main
  width: var(--width-main)
  margin: auto
  padding-bottom: var(--padding-bottom-main)


.headline
  background-color: var(--color-secondary)
  color: var(--color-text-heading)
  @include mixins.font($size: var(--font-size-heading), $height: var(--font-height-heading), $weight: 600)
  margin-top: var(--margin-top-main)
  height: 127px
  padding: var(--padding-x-headline) var(--padding-y-headline)
  display: flex
  flex-flow: row nowrap
  align-items: center
  text-align: center


.form
  padding: var(--padding-top-form) var(--padding-x-form) var(--padding-bottom-form) var(--padding-x-form)
  background-color: var(--color-form-fill)

  &__container
    box-shadow: 0 7px 14px 0 rgba(110,183,194,0.37)

  &__input-container
    margin-bottom: 20px

  input
    height: 50px
    @include mixins.font($size: 16px, $height: 30px)
    color: var(--color-input)
    width: 100%
    padding: var(--padding-left-input)
    background-color: var(--color-form-fill)
    border: 1px solid var(--color-form-border)
    border-radius: 4px
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.50)

  &__location-container
    display: flex
    flex-flow: row nowrap
    justify-content: space-between

  &__city
    width: var(--width-city)

  &__state
    width: var(--width-state)


  button
    background-color: var(--color-primary)
    color: var(--color-text-heading)
    border-radius: 100px
    @include mixins.font($size: 16px, $height: 24px, $weight: 400, $spacing: 0.85px)
    height: 48px
    width: var(--width-submit)
    display: block
    margin: auto
    text-transform: uppercase
    

.card
  --border-styles: 2px solid var(--color-tertiary)
  margin-top: var(--margin-top-card)
  margin-left: auto
  margin-right: auto
  width: var(--width-card)
  // padding: 15px
  padding: 15px var(--padding-x-card)
  border-left: var(--border-styles)
  border-right: var(--border-styles)
  border-bottom: var(--border-styles)
  position: relative

  &__open-border
    position: absolute
    top: 0
    left: 0
    width: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: space-between

  &__half-border
    width: var(--width-half-border)
    height: 0
    border-top: var(--border-styles)

    &--left
      border-top-right-radius: 2px
      border-bottom-right-radius: 2px

    &--right
      border-top-left-radius: 2px
      border-bottom-left-radius: 2px

  &::before
    content: 'even more savings'
    text-transform: uppercase
    @include mixins.font($size: 15px, $height: 15px, $weight: 600)
    position: absolute
    top: -7px
    left: 50%
    transform: translate(-50%, 0)
    width: 100%
    text-align: center
    
  &__overlay
    opacity: 0.9
    background: rgba(255,255,255,0.75)

    padding: 15px
    padding-bottom: 25px

  &__category
    @include mixins.font($size: 12px, $height: 15px, $weight: 600)
    color: var(--color-tertiary)
    text-transform: uppercase
    padding-bottom: 2px

  &__header
    font-size: 20px
    line-height: 24px
    padding-bottom: 12px

  &__link
    font-weight: 600
    color: var(--color-outbound-link)

