.header
  height: 80px
  background-color: var(--color-secondary)
  &__logo
    display: block
    height: 100%
    background-image: url('../assets/logo.svg')
    background-repeat: no-repeat
    background-position: center