.header
  height: 80px
  background-color: var(--color-secondary)
  &__logo
    display: block
    height: 100%
    background-image: url('../assets/logo.svg')
    background-repeat: no-repeat
    background-position: center


main
  width: 290px
  border: 1px solid pink
  margin: auto


.headline
  background-color: var(--color-secondary)
  color: var(--color-text-heading)
  font-weight: 600
  font-size: var(--font-size-heading)
  line-height: var(--font-height-heading)
  letter-spacing: 0
  height: 127px
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: center
  text-align: center
  margin-top: 15px