:root
  // colors
  --color-primary: #F6931D
  --color-secondary: #545253
  --color-tertiary: #A0BC57
  --color-input: #747375
  --color-outbound-link: #6EB7C2
  --color-form-error: #D50303
  --color-form-fill: #FFFFFF
  --color-form-border: #D8D8D8
  --color-text-heading: #FFFFFF
  --color-animation-start: #ECF8FB
  --color-animation-end: #EFEFEF

  // typography
  --font-primary: "Montserrat", san-serif
  --font-size-heading: 18px
  --font-height-heading: 24px

  //layout
  --width-main: 290px
  --width-card: 290px
  --width-city: 153px
  --width-state: 78px
  --width-submit: 242px
  --width-half-border: 49px
  
  --margin-top-main: 15px
  --margin-top-card: 42px

  --padding-bottom-main: 41px
  --padding-x-headline: 15px 
  --padding-y-headline: 22px
  --padding-x-form: 24px
  --padding-top-form: 15px
  --padding-bottom-form: 22px
  --padding-left-input: 10px
  --padding-x-card: 15px