:root
  // colors
  --color-primary: #F6931D
  --color-secondary: #545253
  --color-tertiary: #A0BC57
  --color-outbound-link: #6EB7C2
  --color-form-error: #D50303

  // typography
  --font-primary: "Montserrat", san-serif