@keyframes bgColorChange {
  0% {
    background-color: var(--color-animation-start);
  }
  50% {
    background-color: var(--color-animation-end);
  }
  100% {
    background-color: var(--color-animation-start);
  }
}
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  min-width: 320px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input, button {
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  background-color: transparent;
}

html {
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  font-weight: 300;
  color: var(--color-secondary);
  animation-name: bgColorChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background-image: url("../assets/bg-gradient.svg"), url("../assets/bg-pattern-2x.png");
  background-repeat: repeat-x, repeat;
  background-size: auto, var(--retina-bg-size);
}

button, input {
  font-family: inherit;
}

:root {
  --color-primary: #F6931D;
  --color-secondary: #545253;
  --color-tertiary: #A0BC57;
  --color-input: #747375;
  --color-outbound-link: #6EB7C2;
  --color-form-error: #D50303;
  --color-form-fill: #FFFFFF;
  --color-form-border: #D8D8D8;
  --color-text-heading: #FFFFFF;
  --color-animation-start: #ECF8FB;
  --color-animation-end: #EFEFEF;
  --font-primary: "Montserrat", san-serif;
  --font-size-heading: 18px;
  --font-height-heading: 24px;
  --width-main: 290px;
  --width-card: 290px;
  --width-city: 153px;
  --width-state: 78px;
  --width-submit: 242px;
  --width-half-border: 49px;
  --margin-top-main: 15px;
  --margin-top-card: 42px;
  --padding-bottom-main: 41px;
  --padding-x-headline: 15px;
  --padding-y-headline: 22px;
  --padding-x-form: 24px;
  --padding-top-form: 15px;
  --padding-bottom-form: 22px;
  --padding-left-input: 10px;
  --padding-x-card: 15px;
  --retina-bg-size: auto;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.header {
  height: 80px;
  background-color: var(--color-secondary);
}
.header__logo {
  display: block;
  height: 100%;
  background-image: url("../assets/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

main {
  width: var(--width-main);
  margin: auto;
  padding-bottom: var(--padding-bottom-main);
}

.headline {
  background-color: var(--color-secondary);
  color: var(--color-text-heading);
  font-size: var(--font-size-heading);
  line-height: var(--font-height-heading);
  letter-spacing: 0;
  font-weight: 600;
  margin-top: var(--margin-top-main);
  height: 127px;
  padding: var(--padding-x-headline) var(--padding-y-headline);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
}

.form {
  padding: var(--padding-top-form) var(--padding-x-form) var(--padding-bottom-form) var(--padding-x-form);
  background-color: var(--color-form-fill);
}
.form__container {
  box-shadow: 0 7px 14px 0 rgba(110, 183, 194, 0.37);
}
.form__input-container {
  margin-bottom: 20px;
}
.form input {
  height: 50px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0;
  font-weight: 300;
  color: var(--color-input);
  width: 100%;
  padding: var(--padding-left-input);
  background-color: var(--color-form-fill);
  border: 1px solid var(--color-form-border);
  border-radius: 4px;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}
.form input.form--error {
  border-color: var(--color-form-error);
}
.form__location-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.form__city {
  width: var(--width-city);
}
.form__state {
  width: var(--width-state);
}
.form button {
  background-color: var(--color-primary);
  color: var(--color-text-heading);
  border-radius: 100px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.85px;
  font-weight: 400;
  height: 48px;
  width: var(--width-submit);
  display: block;
  margin: auto;
  text-transform: uppercase;
}

.card {
  --border-styles: 2px solid var(--color-tertiary);
  margin-top: var(--margin-top-card);
  margin-left: auto;
  margin-right: auto;
  width: var(--width-card);
  padding: 15px var(--padding-x-card);
  border-left: var(--border-styles);
  border-right: var(--border-styles);
  border-bottom: var(--border-styles);
  position: relative;
}
.card__open-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.card__half-border {
  width: var(--width-half-border);
  height: 0;
  border-top: var(--border-styles);
}
.card__half-border--left {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.card__half-border--right {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.card::before {
  content: "even more savings";
  text-transform: uppercase;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0;
  font-weight: 600;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
}
.card__overlay {
  opacity: 0.9;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px;
  padding-bottom: 25px;
}
.card__category {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  font-weight: 600;
  color: var(--color-tertiary);
  text-transform: uppercase;
  padding-bottom: 2px;
}
.card__header {
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 12px;
}
.card__link {
  font-weight: 600;
  color: var(--color-outbound-link);
}

@media (min-width: 767px) {
  :root {
    --width-main: 670px;
    --width-card: 404px;
    --width-city: 353px;
    --width-state: 181px;
    --width-submit: 333px;
    --width-half-border: 68px;
    --margin-top-main: 33px;
    --margin-top-card: 40px;
    --padding-bottom-main: 91px;
    --padding-y-headline: 77px;
    --padding-left-input: 25px;
    --padding-x-form: 54px;
    --padding-top-form: 29px;
    --padding-bottom-form: 27px;
    --padding-x-card: 20px;
    --retina-bg-size: 3000px 3000px;
  }
}

/*# sourceMappingURL=styles.css.map */
